<p>aa101-top works!</p>

<div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <label for="referNo">照会番号: </label>
        <input type="text" formControlName="referNo">
        <br>
        <label for="contractName">契約者名: </label>
        <input type="text" formControlName="contractName">
        <br>
        <label for="contractNameKana">契約者名カナ: </label>
        <input type="text" formControlName="contractNameKana">
        <br>
        <button (click)="onClickRefer()">照会</button>
        <button (click)="onClickClear()">クリア</button>
    </form>
</div>

<div>
</div>


<div class="tab-container">
    <ng-container *ngFor="let tab of tabs">
        <button (click)="onClickTab(tab.screenUrl)"
                class="tab-button"
                [class.active]="currentScreenUrl === tab.screenUrl">
            {{ tab.name }}
        </button>
    </ng-container>
</div>

<div class="tab-content">
    <ng-container *ngIf="tabs.length > 0">
        <router-outlet></router-outlet>
    </ng-container>
</div>
